<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="message" class="java.lang.String" />
	
	<bean id="myService" class="com.cg.MyServiceImpl" scope="prototype">
		<constructor-arg index="0" ref="myDAO"/>
		<constructor-arg index="1" value="From IoC Container"/>
		<!-- <property name="daoRef" ref="myDAO"/> -->
	</bean>

	<bean id="myDAO" class="com.cg.InMemoryDAOImpl"/>
	
	
</beans>	
	