<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TestRMIServer/src/engine/Server.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="engine.Server"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="localhost"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TestRMIServer"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.security.policy=bin/server.policy&#13;&#10;-Djava.rmi.server.codebase=http://localhost:8080/BootstrapServerApp/computeSpecs.jar -Djava.rmi.server.hostname=localhost"/>
</launchConfiguration>
